{
    "consumer_key": "ENTER YOUR APPLICATION CONSUMER KEY HERE",
    "consumer_secret": "AND CONSUMER SECRET HERE",
    "access_token_key": "YOUR ACCESS TOKEN KEY HERE",
    "access_token_secret": "AND ACCESS TOKEN SECRET HERE"
}
