<!DOCTYPE html>
<html>
	<head>
		<title>CrackerJack Log-in</title>
	</head>

	<body>
		<h1>CrackerJack Site</h1>
		<h2 class = "userName">Username</h2>
		<form action = "/login" method ="post">
			<input name="username"></input>
			<h2 class="password">Password</h2>
			<input name="password" type="password"></input>
			<div>
				<button type ="Log-in">Log-in</button>
			</div>
			
		</form>
	</body>
</html>