header {
 	width: 100%;
 	font-family: 'Bangers', sans-serif;
 
}

body {
	background: linear-gradient(#66cccc, #FFFFFF);
}

h2 {
	font-family: 'Slabo 27px', sans-serif;
	font-size: 1.5em;
}

main .login {
	float: right;
	width: auto;
	padding-right: 300px;
	padding-top: 150px;
}

.login-label {
	font-family: 'Bangers', sans-serif;
}

main .description {
	font-family: 'Bangers', sans-serif;
	padding: 100px;
	float: left;
	width: 50%
}