body{
	background: linear-gradient(#66cccc, #FFFFFF);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 50px;
    padding-top: 70px;
}


.unpublished-title {
	font-family: 'Bangers', sans-serif;
	font-size: 2.5em;
	border-bottom: 3px solid grey;
}

main .unpublished{
	float:left;
	height: 40em;
	width: 50%;
	overflow-y: scroll;
	padding-right: 1.5em;
}

main .published{
	float:right;
	width: 50%;
	font-family: sans-serif;
}

header {
	font-family: 'Bangers', sans-serif;
}
div.input-buttons, div.char-len, button{
	font-family: 'Bangers', sans-serif;
	font-size: 1.2em;
}

textarea.input-text {
	font-family: 'Slabo 27px', serif;
	font-size: 1.1em;
	resize: none;
}
p.post {
	font-family: 'Slabo 27px', serif;
	font-size: 1.1em;
	padding-top: 1em;
}
.post-btns {
	border-bottom: 2px solid grey;
	padding-bottom: 0.5em;
}
main .tweetsection {
	font-family: 'Slabo 27px', serif;

}