
/*.gradient {
	background: 
		linear-gradient(
			#3399F, #33CCFF
			);
}*/

body{
	background: #66cccc;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 50px;
}

main .unpublished{
	float:right;
	width: 400px;
}

main .published{
	float:left;
	width: 650px;
}