body{
	background: linear-gradient(#66cccc, #FFFFFF);
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 50px;
    padding-top: 70px;
}

main .unpublished{
	float:right;
	width: 50%;
}

main .published{
	float:left;
	width: 50%;
	font-family: sans-serif;
}

header {
	font-family: 'Bangers', sans-serif;
}
div.input-buttons, div.char-len, button{
	font-family: 'Bangers', sans-serif;
	font-size: 1.2em;
}

div h1.content {
	font-family: 'Bangers', sans-serif;
}

.unpublished h1 {
	font-family: 'Slabo 27px', serif;
	border-bottom: 3px solid grey;
}

p.tweetBody, p.note{
	font-family: 'Slabo 27px', serif;
	font-size: 1.1em;
}
p.post{
	font-family: 'Slabo 27px', serif;
	border-bottom: 1px solid grey;
	font-size: 1.1em;
}
main .tweetsection {
	font-family: 'Slabo 27px', serif;

}