body{
	background: linear-gradient(#66cccc, #FFFFFF);
    margin-top: 70px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 600px;
}


.unpublished-title {
	float: left;
	font-family: 'Bangers', sans-serif;
	width: 50%;
	font-size: 2.5em;
}
.published-title {
	float: right;
	font-family: 'Bangers', sans-serif;
	width: 50%;
	font-size: 2.5em;
}

main .unpublished{
	float:left;
	border: 1px solid grey;
	height: 500px;
	width: 50%;
	overflow-y: scroll;
	padding-right: 1.5em;
	padding-left: 1.5em;
}

main .published {
	float:right;
	border: 1px solid grey;
	height: 500px;
	width: 50%;
	font-family: sans-serif;
}

header {
	font-family: 'Bangers', sans-serif;
}

div.input-buttons, div.char-len, button{
	font-family: 'Bangers', sans-serif;
	font-size: 1.2em;
}

div.input-buttons {
	border-bottom: 3px solid grey;
	padding-bottom: 1em;
}

textarea.input-text {
	font-family: 'Slabo 27px', serif;
	font-size: 1.1em;
	resize: none;
}
p.post {
	font-family: 'Slabo 27px', serif;
	font-size: 1.1em;
	padding-top: 1em;
}
.post-btns {
	border-bottom: 2px solid grey;
	padding-bottom: 0.5em;
}
.post-author-votes {
	font-style: italic;
	font-size: 0.9em;
}

main .tweetsection {
	font-family: 'Slabo 27px', serif;
}